{% extends "base.html" %}
{% import "macros.html" as macros %}

{% set title = page.title | striptags | escape %}
{% set full_title = title + ' | Cases | ' + SITENAME %}
{% block title %}{{ full_title }}{% endblock title %}

{% set url = SITEURL + '/' + page.url %}

{% set page_class = 'case fix-navbar-jump' %}

{%- if page.description %}
    {% set description = page.description %}
{% else %}
    {% set description = DESCRIPTION %}
{% endif %}

{% block canonical_rel %}
    <link rel="canonical" href="{{ url }}">
{% endblock %}

{% block meta_tags %}
    {{ macros.meta_description(description) }}
{% endblock meta_tags %}

{% block social_meta %}
    {{ macros.open_graph(full_title, url, description, SITEURL) }}
{% endblock social_meta %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-sm-3">
                <div class="list-group sub-nav">
                    {% for title, link in CASES %}
                    <a href="{{ link }}" class="list-group-item list-group-item-action {% if link | get_slug == page.slug or 'case-studies/' + link | get_slug == page.slug %} active{% endif %}">{{ title }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-9">
                <h1>{{ page.title }}</h1>

                {% if page.pdf %}
                <div class="well">
                <p><em>How to cite:</em> Judith G. Kelley. “Case Study Supplement: A Closer Look at Outcomes. A Companion to Scorecard Diplomacy: Grading States to Influence their Reputation and Behavior, published by Cambridge University Press, 2017.” Published online April 2017 at <a href="{{ url }}">{{ url }}</a>.</p>

                <a href="{{ page.pdf }}" class="btn btn-primary">
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>&nbsp;
                PDF
                </a>
                </div>
                {% endif %}
                {% if page.toc and page.include_toc != "False" %}
                <p><strong>Contents</strong></p>
                <nav class="toc">
                {{ page.toc }}
                </nav>
                <hr>
                {% endif %}
                {{ page.content }}
            </div>
        </div>

    </div>
{% endblock %}
