{% extends "base.html" %}
{% import "macros.html" as macros %}

{% set title = page.title | striptags | escape %}
{% set full_title = title + ' | Data | ' + SITENAME %}
{% block title %}{{ full_title }}{% endblock title %}

{% set url = SITEURL + '/' + page.url %}

{% set page_class = 'data' %}

{%- if page.description %}
    {% set description = page.description %}
{% else %}
    {% set description = DESCRIPTION %}
{% endif %}

{% block canonical_rel %}
    <link rel="canonical" href="{{ url }}">
{% endblock %}

{% block meta_tags %}
    {{ macros.meta_description(description) }}
{% endblock meta_tags %}

{% block social_meta %}
    {{ macros.open_graph(full_title, url, description, SITEURL) }}
{% endblock social_meta %}

{% block extra_head %}
{%- if page.github == "True" %}
    {{ macros.github_css() }}
{% endif %}
{% endblock %}

{% block final_script %}
{%- if page.github == "True" %}
    {{ macros.github_js() }}
{% endif %}
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-sm-3">
                <div class="left-navigation">
                    <button class="btn btn-primary collapse-toggle visible-xs btn-block btn-left-sidebar" type="button" data-toggle="collapse" data-parent="left-navigation" data-target="#side-category-menu-collapse" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>&nbsp;Data menu
                    </button>
                    <div class="list-group collapse sub-nav" id="side-category-menu-collapse">
                        {% for title, link in DATA_MENU %}
                        <a href="{{ link }}" class="list-group-item list-group-item-action {% if link | get_slug == page.slug or 'data/' + link | get_slug == page.slug %} active{% endif %}">{{ title }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <h1>{{ page.title }}</h1>
                {{ page.content }}
            </div>
        </div>

    </div>
{% endblock %}
