{% extends "base.html" %}
{% import "macros.html" as macros %}

{% set title = page.title | striptags | escape %}
{% set full_title = title + ' | ' + SITENAME %}
{% block title %}{{ full_title }}{% endblock title %}

{% set url = SITEURL + '/' + page.url %}

{% set page_class = 'page' %}

{%- if page.description %}
    {% set description = page.description %}
{% else %}
    {% set description = DESCRIPTION %}
{% endif %}

{% block canonical_rel %}
    <link rel="canonical" href="{{ url }}">
{% endblock %}

{% block meta_tags %}
    {{ macros.meta_description(description) }}
{% endblock meta_tags %}

{% block social_meta %}
    {{ macros.open_graph(full_title, url, description, SITEURL) }}
{% endblock social_meta %}

{% block content %}

    <div class="container">

      <div>
        <h1>{{ page.title }}</h1>
        {{ page.content }}
      </div>

    </div>
{% endblock %}
