{% extends "base.html" %}
{% import "macros.html" as macros %}

{% set page_class = 'survey fix-navbar-jump' %}
{% set url = SITEURL + '/' + page.url %}

{% block canonical_rel %}
    <link rel="canonical" href="{{ url }}">
{% endblock %}

{% block extra_head %}
{%- if page.github == "True" %}
    {{ macros.github_css() }}
{% endif %}
{% endblock %}

{% block final_script %}
{%- if page.github == "True" %}
    {{ macros.github_js() }}
{% endif %}
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-sm-3">
                <div class="list-group sub-nav">
                    {% for title, link in SURVEY_MENU %}
                    <a href="{{ link }}" class="list-group-item list-group-item-action {% if link | get_slug == page.slug or 'survey/' + link | get_slug == page.slug %} active{% endif %}">{{ title }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-9">
                <h1>{{ page.title }}</h1>
                {% if page.toc and page.include_toc != "False" %}
                <p><strong>Contents</strong></p>
                <nav class="toc">
                {{ page.toc }}
                </nav>
                <hr>
                {% endif %}
                {{ page.content }}
            </div>
        </div>

    </div>
{% endblock %}
